# APP (Opcionais)
APP_NAME=
APP_VERSION=
APP_PORT=
APP_URL=
APP_DOCS_PATH=
APP_CORS_PATH=

# Database (Obrigatórios)
DATABASE_URL=

# JWT (Obrigatórios)
JWT_SECRET=
JWT_EXPIRATION=

# THROTTLER (Opcionais)
THROTTLER_TTL=
THROTTLER_LIMIT=

# MAIL (Obrigatórios)
MAIL_SUPPORT=
MAIL_FROM=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=

# ASAAS (Obrigatórios)
ASAAS_URL=
ASAAS_SECRET=
