<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Conta bloqueada</title>
  </head>

  <body>
    <p style='font-size: 18px;'>A sua conta foi bloqueada até a data abaixo</p>
    <span style='font-size: 20px; font-weight: bold;'>{{blockDate}}</span>

    <br />

    <p style='font-size: 18px;'>Entre em contato com o suporte e solicite o
      desbloqueio da conta</p>
    <span style='font-size: 20px; font-weight: bold;'>{{email}}</span>
  </body>
</html>