<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Código de recuperação de senha</title>
  </head>

  <body>
    <p style='font-size: 18px;'>Informe o código abaixo na tela solicitada do
      aplicativo, o código possui duração de 4 horas:</p>
    <span style='font-size: 20px; font-weight: bold;'>{{otgCode}}</span>
  </body>
</html>